name: Game and Unit Tests

permissions:
  contents: read

on:
  push:
    branches:
      - dev/*
  pull_request:
    branches:
      - dev/*
      - lts/*
    types:
      - synchronize
      - opened
      - ready_for_review
      - reopened
    paths:
      - '**.java'

jobs:
  test:
    name: Run Tests
    timeout-minutes: 60
    runs-on: ubuntu-latest

    # Prevent doubling up of test runs
    concurrency:
      group: test_build-${{ github.head_ref || github.run_id }}
      cancel-in-progress: true

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: 'temurin'
          
      - uses: gradle/actions/wrapper-validation@v3

      - uses: gradle/actions/setup-gradle@v3

      - name: Run Game Tests with Gradle
        run: ./gradlew runGameTestServer

      - name: Run Unit Tests with Gradle
        run: ./gradlew test
